  <td>{{#link-to "contact-view" contact}}
  		{{contact.id}}
  	{{/link-to}}
  </td>
  <td>{{contact.firstname}}</td>
  <td>{{contact.lastname}}</td>
  <td>{{contact.email}}</td>
  <td>{{contact.telephone}}</td>
  <td>{{contact.department}}</td>