<h1>Prodigy Contacts Manager</h1>
<ul class="nav nav-tabs">
	{{#link-to "contacts" tagName="li"}}
		<a href="#">Employees</a>
  	{{/link-to}}
  	{{#link-to "settings" tagName="li"}}
		<a href="#">Settings</a>
  	{{/link-to}} 
</ul>