body.ember-application {
	margin: 10px;
}

button {
	margin: 10px 10px 10px 0;
}

button.back {
	position: absolute;
	right: 0px;
}

input {
	width: 100%;
	margin: 10px;
	height: 40px;
	padding: 7px;
}

.settings-form .row {
	margin: 30px 0 30px 0;
}