{{back-button}}
<h2>Employee Edit</h2>

<div class="row">
  <div class="col-xs-12 col-sm-6">
  	{{input class="form-control" value=model.firstname placeholder="First Name"}}
  </div>
  <div class="col-xs-12 col-sm-6">
  	{{input class="form-control" value=model.lastname placeholder="Last Name"}}
  </div>
  <div class="col-xs-12 col-sm-6">
  	{{input class="form-control" value=model.email placeholder="Email"}}
  </div>
  <div class="col-xs-12 col-sm-6">
  	{{input class="form-control" value=model.telephone placeholder="Telephone"}}
  </div>
  <div class="col-xs-12 col-sm-6">
  	{{input class="form-control" value=model.department placeholder="Department"}}
  </div>
</div>
<button class="save" value="Save" {{action 'save'}}>Save</button>
<button class="cancel" value="Cancel" {{action 'cancel'}}>Cancel</button>



