{{back-button}}
<h2>Employee Detail</h2>

<div class="contact-detail">
	<span>First Name:</span> {{model.firstname}}
</div>
<div class="contact-detail">
	<span>Last Name:</span> {{model.lastname}}
</div>
<div class="contact-detail">
	<span>Email:</span> {{model.email}}
</div>
<div class="contact-detail">
	<span>Telephone:</span> {{model.telephone}}
</div>
<div class="contact-detail">
	<span>Department:</span> {{model.department}}
</div>
<button class="edit" {{action 'edit'}}>Edit</button>
