<h2>Employees</h2>
<table class="table">
  <thead>
    <tr>
      <th>Employee ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Telephone</th>
      <th>Department</th>
    </tr>
  </thead>
  <tbody>
	{{#each model as |_contact|}}
	  {{contact-listing contact=_contact}}
	{{/each}}
  </tbody>
</table>
<button class="add-contact" {{action 'add'}}>Add Contact</button>

