<h2>Settings</h2>
<div class="settings-form">
	<div class="row">
	    <div class="option-title col-xs-12 col-sm-3">Option 1</div>
	    <div class="col-xs-12 col-sm-9">
	        <div class="btn-group" data-toggle="buttons">
	            <label class="btn btn-default">
	                <input type="radio" id="q156" name="option1" value="1" /> 1
	            </label> 
	            <label class="btn btn-default">
	                <input type="radio" id="q157" name="option1" value="2" /> 2
	            </label> 
	            <label class="btn btn-default">
	                <input type="radio" id="q158" name="option1" value="3" /> 3
	            </label> 
	            <label class="btn btn-default">
	                <input type="radio" id="q159" name="option1" value="4" /> 4
	            </label> 
	        </div>
	    </div>
	</div>
	<div class="row">
	    <div class="option-title col-xs-12 col-sm-3">Option 2</div>
	    <div class="col-xs-12 col-sm-9">
	        <div class="btn-group" data-toggle="buttons">
	            <label class="btn btn-default">
	                <input type="radio" id="q156" name="option2" value="1" /> 1
	            </label> 
	            <label class="btn btn-default">
	                <input type="radio" id="q157" name="option2" value="2" /> 2
	            </label> 
	            <label class="btn btn-default">
	                <input type="radio" id="q158" name="option2" value="3" /> 3
	            </label> 
	            <label class="btn btn-default">
	                <input type="radio" id="q159" name="option2" value="4" /> 4
	            </label> 
	        </div>
	    </div>
	</div>
	<div class="row">
	    <div class="option-title col-xs-12 col-sm-3">Option 3</div>
	    <div class="col-xs-12 col-sm-9">
	        <div class="btn-group" data-toggle="buttons">
	            <label class="btn btn-default">
	                <input type="radio" id="q156" name="option3" value="1" /> 1
	            </label> 
	            <label class="btn btn-default">
	                <input type="radio" id="q157" name="option3" value="2" /> 2
	            </label> 
	            <label class="btn btn-default">
	                <input type="radio" id="q158" name="option3" value="3" /> 3
	            </label> 
	            <label class="btn btn-default">
	                <input type="radio" id="q159" name="option3" value="4" /> 4
	            </label> 
	        </div>
	    </div>
	</div>

	<button class="save" {{action 'save'}}>Save</button>
	<button class="cancel" {{action 'cancel'}}>Cancel</button>
</div>